.About-wrap {
  display: flex;
  flex-direction: column;
}

@media (min-width: 748px) {
  .aboute-img {
    width: 35%;
  }
  .about-text {
    width: 50%;
  }
  .About-wrap {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
