.footer-Container {
  background-color: blue;
  color: white;
}
.inner-footer {
  padding: 2rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-items {
  flex-basis: 32%;
  padding: 0.5rem 0.8rem;
  h2 {
    font-size: 2rem;
  }
  p {
    text-align: justify;
  }
}
.logo {
  display: flex;
  margin-bottom: 1rem;
}
.footer-title {
  font-weight: bold;
  padding: 0 0.5rem;
  font-size: 2.5rem;
}
