.land {
  height: 100vh;
  margin-right: auto;
  color: white;
  background: linear-gradient(to bottom, #2c85f1f8, #167fff);
  clip-path: polygon(0 0, 70% 0, 53% 82%, 0% 100%);
  font-size: 1.4rem;
}
