.Landing-Container {
  background: url("/images/Vector 1.svg");
  min-height: 90vh;
  background-size: cover;
  overflow: hidden;
}
.Landing-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text-area {
  padding-top: 4rem;
  color: white;
  height: 60%;
  margin-bottom: 3rem;
  h1 {
    font-size: 4.5rem;
  }
  h4 {
    font-size: 2rem;
  }
  p {
    margin-top: 0.5em;
    font-size: 1.5rem;
  }
  a {
    color: #237fec;
    background: #fff;
    font-weight: bold;
  }
}
.imagecontainer {
  position: relative;
  .laptop1 {
    width: 70%;
  }
  .laptop2 {
    position: absolute;
    top: 90%;
    left: 55%;
    transform: translate(-40%, -55%);
    width: 40%;
  }
}

// for Higher Screens
@media (min-width: 748px) {
  .Landing-Container {
    background: url("/images/Group 36.svg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 80%;
  }
  .Landing-content {
    flex-direction: row;
  }
  .imagecontainer {
    position: absolute;
    top: 30%;
    left: 60%;
  }
  .text-area {
    margin-top: 7rem;
    h1 {
      font-size: 7rem;
    }
    h4 {
      font-size: 4rem;
    }
    p {
      width: 70%;
      font-size: 2.5rem;
      padding-right: 2em;
      margin: 1em 0;
    }
  }
}
