$primary-pup: #348bf3;
.nav-wrap {
  background: #fff;
  top: 0;
  padding: 1rem 0;
  min-height: 8vh;
  width: 100%;
  z-index: 22;
}
.items {
  color: $primary-pup;
  width: 50%;
}
.flexnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 3.2rem;
  height: 3.2rem;
}
.lines {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  width: 2.5rem;
  height: 2.5rem;
}
.line {
  z-index: 22;
  background-color: #fff;
  width: 100%;
  height: 0.3em;
}

.active {
  .line1 {
    transform: rotate(45deg) translate(-0.1rem, 0.2rem);
  }

  .line2 {
    display: none;
  }
  .line3 {
    transition: all 0.5s;
    transform: rotate(-45deg) translate(0.4rem, -0.6rem);
  }
}

.line1,
.line3 {
  transition: all 0.5s;
}

@media (max-width: 756px) {
  .items {
    background-color: rgba(0, 0, 0, 0.822);
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    top: 100%;
    left: 0%;
    width: 0%;
    height: 92vh;
    overflow: hidden;
    color: #fff;
    font-weight: 500;
    transition: all 0.5s;
  }
  .menu {
    width: 60%;
    opacity: 1;
  }
  .lines {
    display: flex;
  }
}
