.port-images {
  height: 50vh;
  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.site-image {
  max-width: 45rem;
  img {
    max-width: 100%;
  }
}
.visit-btn {
  font-size: 1.6rem;
  background-color: blue;
  color: white;
  display: inline-block;
  padding: 1rem 2rem;
}
.portfolio-containers {
  overflow: hidden;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 1rem 0px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
}
.sitecontainer {
  margin: 1.3rem 0;
  h4 {
    margin: 0.7rem 0;
  }
}
.margin-toper {
  margin: 1rem auto;
}
@media (max-width: 668px) {
  .portfolio-containers {
    width: 95%;
  }
}
@media (max-width: 400px) {
  .portfolio-containers {
    width: 100%;
    margin: 0;
  }
}
