.Serviceleft-Container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  .service-img {
    width: 70%;
  }
}
.order {
  order: 2;
}
// for High Screen
@media (min-width: 728px) {
  .Serviceleft-Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .service-img {
      width: 45%;
    }

    .Service-text {
      width: 65%;
      padding: 2em 2em;
      text-align: left;
      p {
        padding: 1em 0;
      }
    }
  }
  .order {
    order: -1;
  }
}
