.Team-Container {
  padding: 7rem 0;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardimg {
  width: 25rem;
  height: 25rem;
  img {
    width: 100%;
  }
}
.Team-title {
  text-align: center;
  letter-spacing: 0.4rem;
  margin-bottom: 1rem;
}
