.Testo-title {
  h3 {
    font-size: 3rem;
  }
}
.Testomonial-container {
  margin-top: 2rem;
}
.client-wrapper {
  color: #fff;
  padding: 2rem 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-section {
  background: #167fff;
  padding: 3em 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fa-quote-left {
  font-size: 3rem;
}
.client-info {
  padding: 1em 0;
  display: flex;
  align-items: center;
}
.client-image {
  width: 13em;
  height: 13em;
}
.client-text {
  padding: 0 1em;
  h3 {
    font-size: 2.2rem;
  }
  p {
    font-size: 1.6rem;
  }
}

@media (min-width: 748px) {
  .client-section {
    padding: 5rem 0rem;
    width: 80%;
  }

  .client-says {
    margin: 2em auto;
    width: 70%;
  }
}
